<table class="table-pv">
    <thead *ngIf="dataHeader">
        <tr>
            <th
            class="statText"
            [style.width]="statWidth +'%'">
            {{ dataHeader[0].text }}
            </th>
            <div class="chngButton chngBtnLeft" [ngClass]="{'chngInvis': actPage == 0}" (click)="changePage('left')">
                <mat-icon>chevron_left</mat-icon>
            </div>
            <div class="dataHolder" [style.width]="(100 - statWidth) +'%'">
                <div class="dataPage" *ngFor="let headItem of tableHeaderManagement; let i = index" [style.right]="actPage * 100 + '%'">
                    <th *ngFor="let headText of headItem.children" 
                    [style.width]="(100 / (columnsPerPage)) + '%'"
                    (mouseenter)="isOnHover = i"
                    (mouseleave)="isOnHover = 0">
                        {{ headText.text }}
                    </th>
                </div>
            </div>
            <div class="chngButton chngBtnRight" [ngClass]="{'chngInvis': actPage == (totalPages - 1)}" (click)="changePage('right')">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </tr>
    </thead>
    <tbody>
        <mat-accordion hideToggle>
            <mat-expansion-panel 
            *ngFor="let data of dataArray"
            [disabled]="!data.withChild">
                <mat-expansion-panel-header>
                    <tr
                    [class]="statAlign"
                    [ngClass]="{
                        'boldText': statBold,
                        'upperText': statUppercase
                    }">
                        <td class="statText" [style.width]="statWidth +'%'">
                            <img *ngIf="showImages" [src]="'assets/images/shared/imgWEI/pillar-' + data.id + '.svg'"/>
                            <span>{{ data.text }}</span>
                            <mat-icon class="arrow-icon" *ngIf="data.withChild">keyboard_arrow_down</mat-icon>
                        </td>
                        <div class="chngButton chngInvis">
                            <mat-icon>chevron_left</mat-icon>
                        </div>
                        <div class="dataHolder" [style.width]="(100 - statWidth) +'%'">
                            <div class="dataPage" *ngFor="let dataItem of tableDataManagement; let i = index" [style.right]="actPage * 100 + '%'">
                                <td *ngFor="let dataCol of dataItem.children"
                                [style.width]="(100 / (columnsPerPage)) + '%'">
                                    <span class="dataScore" [ngStyle]="{
                                        background: dataCol.color,
                                        color: dataCol.colorText
                                    }">
                                    {{ dataCol.text }}
                                </span>
                                </td>
                            </div>
                        </div>
                        <div class="chngButton chngInvis">
                            <mat-icon>chevron_left</mat-icon>
                        </div>
                    </tr>
                </mat-expansion-panel-header>
                <div class="childrenHolder">
                    <ngx-pv-table-index
                    [dataArray]="data.children"
                    [statWidth]="statWidth"
                    ></ngx-pv-table-index>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </tbody>
</table>