table.table-pv {
  position: relative;
  display: block;
  width: 100%;

  thead, tbody {
    position: relative;
    display: block;
    width: 100%;

    tr {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      th, td {
        position: relative;
        display: block;
        width: 17%;
        font-size: 16px;
        color: #222222 !important;
        transition: .5s;

        span.dataScore {
          position: relative;
          display: block;
          margin: auto;
          width: 136px;
          padding: 5px 10px;
        }
      }

      th.statText, td.statText {
        position: relative;
        display: flex;
        width: 50%;
        align-items: center;

        span {
          padding: 0 10px;
        }

        img {
          width: 45px;
          height: 100%;
          object-fit: contain;
          margin-right: 16px;
        }
      }
      
      .dataHolder {
        position: relative;
        display: -webkit-box;
        overflow: hidden;

        .dataPage {
          position: relative;
          display: flex;
          width: 100%;
          right: 0%;
          justify-content: space-between;
          align-items: center;
          transition: 0.5s;
        }
      }
    }
  }

  thead .dataHolder {
    margin-right: 8px;
  }
}

.childrenHolder {
  position: relative;
  display: block;
  width: calc(100% + 32px);
  left: -14px;
}

.chngButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 20px);
  width: 20px;
  padding: 10px 5px;
  cursor: pointer;

  &:hover {
    background: #F5F5F5;
  }

  &.chngInvis {
    opacity: 0;
    cursor: unset;
  }
}

mat-expansion-panel.mat-expansion-panel {
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px !important;
  margin: 0 !important;

  mat-expansion-panel-header.mat-expansion-panel-header {
    padding: 0;
  }

  mat-icon.arrow-icon {
    width: 20px !important;
    transition: 0.5s;
  }

  & > mat-expansion-panel-header.mat-expansion-panel-header {
    background: #F3F3F3;
  }

  &:nth-child(2n) > mat-expansion-panel-header.mat-expansion-panel-header {
    background: #FFFFFF;
  }

  &.mat-opened mat-icon.arrow-icon {
    transform: rotate(180deg);
  }
}

.leftAlign {
  justify-content: flex-start;
}

.centerAlign {
  justify-content: center;
}

.rightAlign {
  justify-content: flex-end;
}

.boldText {
  font-weight: 600;
}