table.table-pv {
  position: relative;
  display: block;
  width: 100%;

  thead, tbody {
    position: relative;
    display: block;
    width: 100%;

    tr {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      &:nth-child(2n) {
        background: #f3f3f3;
      }

      th, td {
        position: relative;
        display: block;
        width: 17%;
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
        color: #222222 !important;
      }

      th.statText, td.statText {
        position: relative;
        display: flex;
        width: 50%;
        align-items: center;

        img {
          width: 45px;
          height: 100%;
          object-fit: contain;
          margin-right: 16px;
        }
      }
      
      .dataHolder {
        position: relative;
        display: -webkit-box;
        overflow: hidden;

        .dataPage {
          position: relative;
          display: flex;
          width: 100%;
          right: 0%;
          justify-content: space-between;
          align-items: center;
          transition: 0.5s;
        }
      }
    }
  }

  thead .dataHolder {
    margin-right: 8px;
  }
}

.childrenHolder {
  position: relative;
  display: block;
  left: -14px;
  width: calc(100% + 38px);
}

.chngButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20px;
  padding: 10px 5px;
  cursor: pointer;

  &:hover {
    background: #F5F5F5;
  }

  &.chngInvis {
    opacity: 0;
    cursor: unset;
  }
}

mat-expansion-panel.mat-expansion-panel {
  border-radius: 0px !important;
  box-shadow: 0px 0px 0px !important;
  margin: 0 !important;

  mat-expansion-panel-header.mat-expansion-panel-header {
    padding: 0;
  }

  mat-icon.arrow-icon {
    width: 20px !important;
    transition: 0.5s;
  }

  &.layer-1 > mat-expansion-panel-header.mat-expansion-panel-header {
    background: #f3f3f3;
  }

  &.layer-1:nth-child(2n) > mat-expansion-panel-header.mat-expansion-panel-header {
    background: #ffffff;
  }

  &.mat-opened mat-icon.arrow-icon {
    transform: rotate(180deg);
  }
}