<table class="table-pv">
    <thead *ngIf="dataHeader">
        <tr>
            <th
            class="statText"
            [style.width]="statWidth +'%'">
            {{ dataHeader[0].text }}
            </th>
            <div class="chngButton chngBtnLeft" [ngClass]="{'chngInvis': actPage == 0}" (click)="changePage('left')">
                <mat-icon>chevron_left</mat-icon>
            </div>
            <div class="dataHolder" [style.width]="(100 - statWidth) +'%'" *ngIf="columnsPerPage != 0">
                <th *ngFor="let headText of dataHeader | slice:1; let i = index" [style.right]="actPage * 100 + '%'"
                [style.width]="(100 / (columnsPerPage)) + '%'"
                (mouseenter)="isOnHover = i"
                (mouseleave)="isOnHover = 0">
                    {{ headText.text }}
                </th>
            </div>
            <div class="chngButton chngBtnRight" [ngClass]="{'chngInvis': actPage == (totalPages - 1)}" (click)="changePage('right')">
                <mat-icon>chevron_right</mat-icon>
            </div>
        </tr>
    </thead>
    <tbody>
        <mat-accordion hideToggle>
            <mat-expansion-panel 
            *ngFor="let data of dataArray"
            [disabled]="!data.withChild">
                <mat-expansion-panel-header>
                    <tr>
                        <td class="statText" [style.width]="statWidth +'%'"
                        [ngClass]="{'leftAlign' : statAlign == 'left', 'centerAlign' : statAlign == 'center', 'rightAlign' : statAlign == 'right', 'boldText': statBold && !isChild}">
                            <img *ngIf="showImages" [src]="'assets/images/shared/imgWEI/pillar-' + data.id + '.svg'"/>
                            <span>{{ data.text }}</span>
                            <mat-icon class="arrow-icon" *ngIf="data.withChild">keyboard_arrow_down</mat-icon>
                        </td>
                        <div class="chngButton chngInvis">
                            <mat-icon>chevron_left</mat-icon>
                        </div>
                        <div class="dataHolder" [style.width]="(100 - statWidth) +'%'">
                            <td *ngFor="let dataCol of data.rowData" [style.right]="actPage * 100 + '%'"
                            [style.width]="(100 / (columnsPerPage)) + '%'">
                                <span class="dataScore" [ngStyle]="{
                                    background: dataCol.color,
                                    color: dataCol.colorText
                                }">
                                {{ dataCol.text }}
                            </span>
                            </td>
                        </div>
                        <div class="chngButton chngInvis">
                            <mat-icon>chevron_left</mat-icon>
                        </div>
                    </tr>
                </mat-expansion-panel-header>
                <div class="childrenHolder">
                    <ngx-pv-table-index
                    [dataArray]="data.children" 
                    [columnsPerPage]="columnsPerPage"
                    [actPage]="actPage" 
                    [statUppercase]="statUppercase"
                    [statAlign]="statAlign"
                    [statWidth]="statWidth"
                    [statBold]="statBold"
                    [dataUppercase]="statUppercase"
                    [dataBold]="statBold"
                    [dataAlign]="statAlign"
                    [isChild]="true"
                    ></ngx-pv-table-index>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </tbody>
</table>